@model Coticula2.Face.Models.Submit

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Submit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PeakMemoryUsed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PeakMemoryUsed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Solution)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Solution)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SubmitTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SubmitTime)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WorkingTime)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkingTime)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SubmitID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
